.about-us {
  @include pageGrid;

  row-gap: 32px;

  &__title {
    margin: 0;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__text {
    grid-column: 1 / -1;
    font-size: 23px;
    font-weight: 500;
    line-height: $line-height-base;

    @include onTablet {
      grid-column: 4 / 7;
      font-size: 23px;
    }

    @include onDesktop {
      grid-column: 6 / 12;
    }
  }
}
