.menu {
  overflow: auto;
  box-sizing: border-box;

  height: 100vh;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #c2c2c2;
    margin-bottom: 48px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    letter-spacing: 0;
    line-height: 27px;
    color: #1d1d1d;
    text-decoration: none;
    margin-bottom: 16px;
    transition: all $effectDuration ease;
  }

  &__book-a-test {
    display: block;
    width: fit-content;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #1d1d1d;

    color: #1d1d1d;
    text-decoration: none;
    transition: all $effectDuration ease;
  }
}
